@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dawningofanewday/v11/t5t_IQMbOp2SEwuncwLRjMfIg1yYit_nAw8cj2Y.ttf) format('truetype');
}
